<div class="row h-100">
  <div id="categories" class="col-3 h-100">
    <div class="pt-3">
      <h3 class="text-center">Выберите категорию</h3>
    </div>
    <hr>
    <div>
      <%= search_form_for @q, url: categories_path do |f| %>
        <div class="input-group mb-3">
          <%= f.search_field :name_cont, class: "form-control" %>
          <%= f.submit t("buttons.search"), class: "btn text-white", style: "background: #1ec8c8;" %>
        </div>
      <% end %>
    </div>
    <hr>
    <div class="category-list">
      <ul class="list-group" id="categories_search">
        <% @categories.each do |category| %>
          <%= render category %>
        <% end %>
      </ul>
    </div>
  </div>
  <%= turbo_frame_tag :show_category, class: "col border-start" %>
  <%= turbo_frame_tag :modal %>
</div>